html {
  //colors
  --base-background: #1f2836;
  --highlighted-background: #3e4756;
  --light-red: #e53f4e;
  --darken-red: #9e001c;
  --highlight: #176b87;
  --light-blue: #86B6F6;

  //sizes
  --gap: 20px;
}
